body,html{
	height: 100%
}

.card-products{
	border-radius: 5px;
	background: #f0f0f0;
	padding: 15px;
	color: black;
	text-align: center;
	margin-top: 10px
}

footer{
	padding-top: 10px;
	background-color: grey
}

a{
	color: white
}